<!-- inherit template -->
{% extends 'base.html' %}
<!-- inherit template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- title -->

<!-- extend title block -->
{% block title %} Home {% endblock %}
<!-- extend title block -->

<!-- title -->

<!-- body -->

<!-- extend body block -->
{% block body %}
<!--  -->
<div class="parent container is-fluid">
  <!-- intro -->
  <div class="intro">
    <div class="intro-caption">
      <p class="title has-text-danger is-size-1">Hello! I'm Freedom</p>
      <p class="has-text-light is-size-3">
        A tenacious, passionate, coder and writer who loves turning bold ideas
        into impactful and memorable experiences through software.
      </p>
      <br />
      <a href="{% url 'about_me' %}" class="has-text-dark button is-primary"
        >Curious to know more?</a
      >
    </div>
    <div class="intro-image">
      <!-- slider section -->
      {% include 'slider.html' %}
      <!-- slider section -->
    </div>
  </div>
  <!-- intro -->

  <!-- section -->
  <hr class="divider-separator" />
  <!-- section -->

  <div class="level container is-fluid">
    <div class="level-left">
      <p
        class="title has-text-warning is-align-self-center level-item"
        id="portfolio-section"
      >
        Portfolio
      </p>
    </div>
    <div class="level-right">
      <!--  -->
      <div class="tabs is-centered is-align-self-center level-item">
        <ul>
          <li class="is-active">
            <a class="has-text-light">
              <span>Freelance/Work Projects</span>
            </a>
          </li>
          <li>
            <a class="has-text-light">
              <span>Personal Projects</span>
            </a>
          </li>
        </ul>
      </div>
      <!--  -->
    </div>
  </div>

  <!-- section -->
  <hr class="divider-separator" />
  <!-- section -->

  <!-- portfolio section -->
  <div class="portfolio-container"></div>
  <!-- portfolio section -->
</div>
<!--  -->
{% endblock %}
<!-- extend body block -->

<!-- body -->
