<!-- inherit template -->
{% extends 'base.html' %}
<!-- inherit template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- title -->

<!-- extend title block -->
{% block title %} Home {% endblock %}
<!-- extend title block -->

<!-- title -->

<!-- body -->

<!-- extend body block -->
{% block body %}
<!--  -->
<div class="parent has-text-justified container is-fluid">
  <!-- intro -->
  <div class="intro image is-16by9">
    <img src="{% static 'img/intro-background.jpg' %}" alt="" />
  </div>
  <!-- intro -->

  <br />

  <div class="blog-podcast-container">
    <!-- recent blogs -->
    <div class="recent-blog-container">
      <p class="title has-text-light is-align-self-flex-start">Recent blogs</p>
      <!--  -->
      <div class="blog-card has-text-light">
        <div class="blog-card-content">
          <a href="#" class="subtitle has-text-info">
            Lorem ipsum dolor sit amet consectetur.
          </a>
          <br />
          <a href="#" class="content has-text-primary"
            ><small>Technology</small></a
          >
          <hr class="divider-blank" />
          <p class="has-text-gray"><small>March 2nd 2023</small></p>
          <hr class="divider-blank" />
        </div>
      </div>
      <!--  -->
      <div class="blog-card has-text-light">
        <div class="blog-card-content">
          <a href="#" class="subtitle has-text-info">
            Lorem ipsum dolor sit amet consectetur.
          </a>
          <br />
          <a href="#" class="content has-text-primary"
            ><small>Technology</small></a
          >
          <hr class="divider-blank" />
          <p class="has-text-gray"><small>March 2nd 2023</small></p>
          <hr class="divider-blank" />
        </div>
      </div>
      <!--  -->
      <div class="blog-card has-text-light">
        <div class="blog-card-content">
          <a href="#" class="subtitle has-text-info">
            Lorem ipsum dolor sit amet consectetur.
          </a>
          <br />
          <a href="#" class="content has-text-primary"
            ><small>Technology</small></a
          >
          <hr class="divider-blank" />
          <p class="has-text-gray"><small>March 2nd 2023</small></p>
          <hr class="divider-blank" />
        </div>
      </div>
      <!--  -->
    </div>
    <!-- recent blogs -->
    <!-- recent podcasts -->
    <div class="recent-podcast-container">
      <p class="title has-text-light is-align-self-flex-start">
        Recent podcasts
      </p>
      <!--  -->
      <div class="blog-card has-text-light">
        <div class="blog-card-content">
          <a href="#" class="subtitle has-text-info">
            Lorem ipsum dolor sit amet consectetur.
          </a>
          <br />
          <a href="#" class="content has-text-primary"
            ><small>Technology</small></a
          >
          <hr class="divider-blank" />
          <p class="has-text-gray"><small>March 2nd 2023</small></p>
          <hr class="divider-blank" />
        </div>
      </div>
      <!--  -->
      <div class="blog-card has-text-light">
        <div class="blog-card-content">
          <a href="#" class="subtitle has-text-info">
            Lorem ipsum dolor sit amet consectetur.
          </a>
          <br />
          <a href="#" class="content has-text-primary"
            ><small>Technology</small></a
          >
          <hr class="divider-blank" />
          <p class="has-text-gray"><small>March 2nd 2023</small></p>
          <hr class="divider-blank" />
        </div>
      </div>
      <!--  -->
      <div class="blog-card has-text-light">
        <div class="blog-card-content">
          <a href="#" class="subtitle has-text-info">
            Lorem ipsum dolor sit amet consectetur.
          </a>
          <br />
          <a href="#" class="content has-text-primary"
            ><small>Technology</small></a
          >
          <hr class="divider-blank" />
          <p class="has-text-gray"><small>March 2nd 2023</small></p>
          <hr class="divider-blank" />
        </div>
      </div>
      <!--  -->
    </div>
    <!-- recent podcasts -->
  </div>
</div>
<!--  -->
{% endblock %}
<!-- extend body block -->

<!-- body -->
